body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

body {
  background-color: #f4f4f4;
}

h1 {
  color: darkblue;
  font-size: 32px;
}

p {
  font-size: 16px;
}

img {
  margin-top: 20px;
  border-radius: 8px;
}
